.search-prompt {
  font-size: 26px;
  text-align: center;
}

.quick-search-heading {
  border-bottom: 2px solid #f44336;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.search-button {
  margin-left: 10px;
}
