.search-prompt {
  font-size: 26px;
  text-align: center;
}

.search-button {
  margin-left: 10px;
}

.results-subheading {
  font-size: 18px;
  color: #bbb;
}

.results-main {
  color: #fff;
  font-size: 36px;
}
