<div class="container">
  <div class="slight-card">
    <h1 class="slight-card-heading">Quick Search</h1>
    <form [formGroup]="quickSearchForm" (ngSubmit)="searchCurrency()">
      <p class="search-prompt">How many
        <app-currency-search formControlName="compareCurrency"></app-currency-search> are in a <app-currency-search
          formControlName="baseCurrency"></app-currency-search>?
        <button [disabled]="!quickSearchForm.valid" matTooltip="Search" type="submit" mat-mini-fab
          class="icon-fab blue search-button">
          <mat-icon>search</mat-icon>
        </button>
        <button (click)="quickSearchForm.reset()" matTooltip="Clear Selection" type="button" mat-mini-fab
          class="icon-fab orange search-button">
          <mat-icon>undo</mat-icon>
        </button>
      </p>
    </form>
  </div>
  <div class="slight-card" *ngIf="currentResults">
    <h1 class="slight-card-heading blue">Results</h1>
    <div class="results-container">
      <div class="results-data">
        <div class="results-subheading">
          1 {{ currentResultsAux.get('base').name }} equals
        </div>
        <div class="results-main">
          {{ currentResults.ratesArr[0].value | number }} {{ currentResultsAux.get('compare').name }}
        </div>
        <div class="results-date">
          {{ currentResults.date | date: 'MMMM d, y, h:mm:ss a z' }}
        </div>
        <div class="results-data-source">
          Data provided by European Central Bank via ExchangeRates API.
        </div>
      </div>
      <div class="results-chart" *ngIf="lineChartData?.length">
        <canvas baseChart width="400" height="400" [data]="lineChartData" [labels]="lineChartLabels"
          [options]="lineChartOptions" [chartType]="'line'"></canvas> </div>
    </div>
  </div>
</div>
