.results-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.search-prompt {
  font-size: 26px;
  text-align: center;
}

.search-button {
  margin-left: 10px;
}

.results-subheading {
  font-size: 24px;
  color: #bbb;
}

.results-main {
  color: #fff;
  font-size: 48px;
}

.results-data {
  margin-right: 40px;
}

.results-chart {
  flex-grow: 1;
}

.results-data-source {
  margin-top: 20px;
  color: #bbb;
}
